@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Manrope", sans-serif;
  }
}

.custom-bg-gradient {
  background: radial-gradient(
    at top,
    rgb(37, 17, 77) 0%,
    rgb(35, 13, 51) 30%,
    rgba(7, 1, 14, 1) 60%
  );
}

.custom-bg-gradient2 {
  background: radial-gradient(#1b171b 0%, #14071f 45%, #07010e 70%);
}

.gradient-text {
  background-image: linear-gradient(
    90deg,
    rgba(236, 65, 99, 1) 0%,
    rgba(168, 36, 181, 1) 50%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.gradient-border {
  border-width: 2px;
  border-image: linear-gradient(
    90deg,
    rgba(236, 65, 99, 1) 0%,
    rgba(168, 36, 181, 1) 50%
  );
  border-image-slice: 1;
}
